---
import MainLayout from '../layouts/MainLayout.astro'
const nacimiento = new Date('2004-07-13');
const hoy = new Date();
let edad = hoy.getFullYear() - nacimiento.getFullYear();
const mes = hoy.getMonth() - nacimiento.getMonth();
if (mes < 0 || (mes === 0 && hoy.getDate() < nacimiento.getDate())) {
  edad--;
}
---

<MainLayout
  title='About Me'
  description='Lorem ipsum dolor sit amet'
  pubDate={new Date('21 May 2025')}
>
  <div class='about-container'>
    <div>
      <img
        src='/avatar.jpg'
        alt='Avatar'
        class='about-avatar'
      />
      <p class='text-2xl'>Sebitas - {edad} años</p>
    </div>
    <div class='about-text'>
      <p>
        Hola! 👋 Soy Sebastian, desarrollador frontend especializado en
        tecnologías mobile como React Native, con experiencia también en Next.js
        y Astro, aunque en menor medida. Cuento con más de dos años de
        experiencia en el sector. Empecé mi carrera en 2021 gracias a una beca
        en el CESDE, donde me formé como asistente en desarrollo de software.
        Antes de ingresar a la universidad en 2023 (ITM), completé múltiples
        cursos en plataformas como Platzi y Coursera, lo que fortaleció mi
        enfoque autodidacta y me permitió construir una base sólida en
        desarrollo y tecnología.
      </p>
      <p>
        Desde entonces, he crecido dentro de la misma empresa, evolucionando de
        proyectos web a mobile, aportando con tecnologías como Apollo Client y
        enfocándome en rendimiento, manejo de estados y optimización de
        re-renderizados.
      </p>
      <p>
        Autodidacta por naturaleza, soy un apasionado del aprendizaje constante,
        la tecnología y el desarrollo personal. Me interesa llevar una vida
        saludable, leer, practicar deporte y, más recientemente, compartir lo
        que aprendo a través de videos.
      </p>
      <p>
        Desde finales de 2024, he profundizado en el mundo de las finanzas y la
        inversión, comenzando con plataformas como Tyba y evolucionando hacia
        herramientas más avanzadas como Hapi e Interactive Brokers. En paralelo,
        exploro el ecosistema cripto a través de plataformas como Binance,
        Kraken y Phantom, y actualmente estoy aprendiendo a desarrollar tokens
        en Solana, integrando conceptos de blockchain en mis proyectos
        personales. Hoy combino mi carrera como desarrollador con una formación
        disciplinada en inversión y tecnología descentralizada.
      </p>
    </div>
  </div>
</MainLayout>

<style>
  .about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
  }

  .about-avatar {
    width: 250px;
    flex-shrink: 0;
    margin-bottom: 1rem;
    border-radius: 12px;
  }

  .about-text {
    flex: 1 1 300px;
    min-width: 250px;
  }
</style>
