---
interface Props {
  url: string
  title: string
  category: string[]
}

const { url, title, category } = Astro.props

const response = await fetch(`https://www.tiktok.com/oembed?url=${url}`)
const data = await response.json()
---

<article
  class='rounded-lg shadow-sm overflow-hidden h-auto mx-auto my-8 p-3 w-[400px] bg-white'
  data-category={category.join(',')}
>
  <p>{title}</p>
  <Fragment set:html={data.html} />
</article>
